:root {
    --darkBlue: #011e9b;
    --Blue: #0744c6;
    --skyBlue: #00bdff;
    --yellow: #ffbd00;
    --orange: #ff9300;
    --purple: #552bab;
    --lightPurple: #ad5deb;
    --aqua: #1ad7eb;
    --green: #17d101;
    --red: #d80303;
    --lightGray: #f4f4f4;
    --gray: #949494;
    --darkGray: #4d4d4d;
    --dark: #202020;
    --white: #fff;
    --black:#000;
    --bodyFont: "Inter", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: var(--bodyFont);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.2rem;
    color: var(--dark);
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: var(--dark);
}
/* UTILITIES */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.icon {
    font-size: 2rem;
    color: var(--white);
}
.icon:hover {
    cursor: pointer;
}

.btn-gray {
    background-color: var(--lightGray);
    border: 0.01rem solid var(--lightGray);
    border-radius: 0.05rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    width: fit-content;
}

.btn-gray:hover {
    cursor: pointer;
}

.icons-card {
    font-size: 1.5rem;
}

.active {
    color: var(--darkBlue);
}
/* CARD MOBILE ICONS COLOR */
.card-menuMobile--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.3rem;
}
.card-menuMobile--icon i {
    font-size: 2rem;
    color: var(--white);
}
.card-menuMobile--iconGreen {
    background-color: var(--green);
}
.card-menuMobile--iconBlue {
    background-color: var(--skyBlue);
}
.card-menuMobile--iconPurple {
    background-color: var(--lightPurple);
}
.card-menuMobile--iconYellow {
    background-color: var(--yellow);
}
/* LABELS COLOR */

.label-yellow,
.label-orange,
.label-aqua,
.label-purple {
    width: fit-content;
    padding: 0.4rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.label-orange,
.label-aqua,
.label-purple {
    color: var(--white);
}

.label-yellow {
    background-color: var(--yellow);
}
.label-orange {
    background-color: var(--orange);
}
.label-aqua {
    background-color: var(--aqua);
}
.label-purple {
    background-color: var(--purple);
}

/* ICONS COLOR */
.fa-square-check {
    color: var(--skyBlue);
}
.fa-angles-up,
.fa-ban,
.fa-arrow-up-long {
    color: var(--red);
}
.fa-circle-up,
.fa-bookmark  {
    color: var(--green);
}
.fa-wrench {
    color: var(--orange);
}

/* HEADER */
.header {
    background-color: var(--Blue);
}
.header-desktop {
    display: none;
}
.header-mobile--top {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    color: var(--white);
    padding: 1rem;
    background-color: var(--darkBlue);
}
.header-mobile--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.header-mobile--bottom h2 {
    font-weight: 300;
    font-size: 2rem;
}
.header-mobile--bottomIcon {
    display: flex;
    align-items: center; 
}
.img-header {
    width: 5rem;
    height: auto;
    border-radius: 50%;
}
@media (min-width: 769px) {
    .header-mobile {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: 5% 15% 80%;
        min-height: 100vh;
    }
    .header-desktop {
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: var(--Blue);
        padding: 1.5rem;
        min-height: 100vh;
    }
    .header-desktop--top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .fa-jira {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .header-desktop--bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1.5rem;
        margin-top: auto;
    }
    .header-desktop--bottom img {
        width: 4rem;
    }
}

/* HEADER 2 - MOBILE */
.header2-mobile {
    display: grid;
    grid-template-columns: 5% 85% 10%;
    align-items: center;
    padding: 1rem;
    background-color: var(--white);
}
.icon-back {
    font-size: 1.5rem;
    color: var(--darkBlue);
}
.icon-back:hover {
    cursor: pointer;
}
.header2-mobile--title {
    text-align: center;
    font-weight: 400;
    color: var(--darkBlue);
}
.header2-mobile--icons {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--darkBlue);
}
.header2-mobile--icons:hover{
    cursor: pointer;
}
@media (min-width: 769px) {
    .header2-mobile {
        display: none;
    }
}

/* NAV DESKTOP */
.nav-desktop {
    display: none;
}
@media (min-width: 769px) {
    .nav-desktop {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        background-color: var(--lightGray);
        color: var(--gray);
        padding: 1rem 1.5rem;
        min-height: 100vh;
    }
    .nav-desktop--header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 0.5rem;
        align-items: center;
    }
    .nav-desktop--header-icon {
        width: 4rem; 
        height: 4rem;
        background-color: var(--lightPurple); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; 
    }
    .nav-desktop--header-icon i {
        color: var(--white); 
        font-size: 1.8rem; 
    }
    .nav-desktop--header-content h2{
        color: var(--darkGray);
    }
    .nav-desktop--content {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    .nav-desktop--content-icons {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .nav-desktop--content-icons i {
        font-size: 1.5rem;
        color: var(--black);
    }
}

/* HOME CONTAINER - MOBILE */
@media (min-width: 769px) {
    .main-containerMobile {
        display: none;
    }
}
.main-containerMobile {
    margin-top: 3rem;
    margin-left: 2rem;
    min-height: 70vh;
}
.main-containerMobile h3{
    color: var(--gray);
}
.card-menuMobile {
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}
.card-menuMobile:hover {
    cursor: pointer;
}
.card-menuMobile--content p {
    margin-bottom: 0.5rem;
}
.card-menuMobile--content span {
    color: var(--gray);
}

/* PRINCIPAL CONTAINER - MOBILE */
@media (min-width: 769px) {
    .principal-containerMobile {
        display: none;
    }
}
.principal-containerMobile {
    padding: 1rem;
}
.slider-container {
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.slideContent {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-height: 75vh;
}
.slide {
    min-width: 100%;
}
.indicators {
    text-align: center;
    margin-top: 10px;
}
.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.dot.active {
    background-color: var(--darkBlue);
}
.principal-containerMobile--toDo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--lightGray);
    padding: 0.8rem;
    border-radius: 0.5rem;
}
.principal-containerMobile--toDo h2 {
    text-transform: uppercase;
}
.card-mobile {
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.card-mobile--content {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
.card-mobile--icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.card-mobile--icons p {
    color: var(--gray);
}
.card-mobile--img {
    width: 3rem;
    height: 3rem;
}
.card-mobile--img img{
    border-radius: 50%;
}

/* PRINCIPAL CONTAINER - DESKTOP */
.main-container {
    display: none;
}
@media (min-width: 769px) {
    .main-container {
        display: block;
        padding: 3rem;
    }
    .main-container--title {
        display: grid;
        grid-template-columns: 80% 10% 5%;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        margin-bottom: 1.5rem;
    }
    .fa-ellipsis { /* main container icon */
        font-size: 2rem;
    }
    .main-container--search {
        display: flex;
        gap: 2rem;
        padding: 1rem 0;
    }
    .main-container--search-input {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .main-container--search-input input {
        width: 6rem;
        padding: 0.8rem 4rem;
        background-color: var(--lightGray);
        border: 0.1rem solid var(--lightGray);
        border-radius: 0.3rem;
    }
    .main-container--search-input i {
        font-size: 1.5rem;
        padding: 0.8rem 0.4rem;
        border-radius: 0.3rem;
        margin-left: -2.5rem;
        color: var(--darkGray);
    }
    .main-container--search-list {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .main-container--search-list i {
        font-size: 1.5rem;
    }
    .main-container--search-list i:hover{
        cursor: pointer;
    }
    /* GRID */
    .main-container--grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 1.5rem;
    }
    .main-container--grid-toDo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--lightGray);
        padding: 0.8rem;
        border-radius: 0.5rem;
    }
    .main-container--grid-toDo h3 {
        text-transform: uppercase;
        padding: 1rem 0;
        color: var(--darkGray);
    }
    .card {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--white);
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    }
    .card-txt { /* paragraph card */
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .card-sections {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card-sections--icons,
    .card-sections--author {
        display: flex;
        gap: 0.5rem;
    }
    .card-sections--icons-number {
        width: 1.5rem; 
        height: 1.5rem;
        background-color: var(--lightGray); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 0.5rem 1rem; 
    }
    .card-sections--icons-number span {
        color: var(--dark); 
        font-size: 1rem; 
        font-weight: bold;
    }
    .card-sections--author p{
        color: var(--gray);
    }
    .card-sections--author img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-top: 0.5rem;
    }
}

/* FOOTER MOBILE */
@media (min-width: 769px) {
    .footer-mobile {
        display: none;
    }
}
.nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 1rem 0 1rem ;
    border-top: 0.1rem solid var(--lightGray);
}
.nav-mobile--icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray);
}
.nav-mobile--icons i {
    font-size: 2rem;
}
.nav-mobile--icons:hover {
    cursor: pointer;
}







/* Cada slide ocupa el 100% del contenedor */


/* Ajustar las imágenes */
.slide img {
    width: 100%;
    height: auto;
    display: block;
}


/* Indicadores (puntos) */


