.box {
    background-color: black;
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 500px;
    gap: 1rem;
    background-color: thistle;
}
.container * {
    background-color: violet;
}
#item-1 {
    flex-grow: 1;
}
#item-2 {
    flex-grow: 2;
}